@import "../../common/colors.scss";

.movie-list{
 margin :20px 0;
 position: relative;
 h2{
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
 }
}
.movie-container{
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}
.movie-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1) 90%
  );
  pointer-events: none;
  }
  .loader-container{
    display:  flex;
    justify-content: center;
    width: 100%;
  }