.home-banner{
    background-image: url(https://image.tmdb.org/t/p/original/oghHR3X0hIcvs7xqyoFjA0GAZWn.jpg);
    height: 303px;
    background-size: cover;
    background-attachment: fixed;
}
.search-contianer{
    background-color: rgba(0, 20, 57, 0.599);
    height: 100%;
    color: white;
    padding : 40px 30px;
}